@charset "utf-8";
html,
body {
    margin: 5;
}

.wrapper {
    background: lime;
    width: auto;
    height: auto;
    /*display: flex;
    flex-grow: 1;*/
    width: 800px;
    height: 800px;
    overflow: hidden;
}

.wrapper div {
    /*text-align: center;*/
}

.box-A {
    float: right;
    background: orange;
    width: 25%;
    height: 100%;
}

.box-A div {
    height: 25%;
}

.box-B {
    background: pink;
    float: right;
    width: 50%;
    height: 50%;
}

.box-B div {
    height: 50%;
}

.box-up::after {
    content: "";
    display: block;
    clear: both;
}

.box-B .box-5 {
    float: left;
    width: 50%;
}

.box-B .box-6 {
    float: left;
    width: 50%;
}

.box-B .box-7 {
    float: left;
    width: 50%;
}

.box-B .box-8 {
    float: left;
    width: 50%;
}

.box-C {
    background: red;
    float: right;
    width: 50%;
    height: 50%;
}

.box-C div {
    height: 75%;
}

.box-C::after {
    content: "";
    display: block;
    clear: both;
}

.box-C .down1 {
    float: right;
    width: 50%;
}

.box-C .down2 {
    float: right;
    width: 50%;
}

.box-D div {
    float: right;
    width: 25%;
    height: 25%;
}