body {
  font-size: 1.25em;
}

#button {
  border: 0;
  background: #fff;
  border-bottom: 1px solid;
  padding-bottom: 1em;
  margin: 10em auto;
  padding-top: 0;
  ;
  display: block;
}

.modal {
  opacity: 0;
  z-index: -1;
  position: fixed;
  /* 전체 모달 화면 여부 결정 : 포지션이 픽스드 일때 */
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: opacity .25s ease-in-out;
}

.foo {
  opacity: 1;
  z-index: 9;
  background-color: rgba(0, 29, 134, 0.8);
}

.content {
  position: relative;
  background: white;
  margin: auto;
  width: 50vw;
  /*border: none;*/
  box-shadow: 0 0 2em #00024c;
  transform: translateY(50%);
  padding: 2em;
}

.close {
  color: black;
  float: right;
}

.close:hover .close:focus {
  color: #aee;
  text-decoration: none;
  cursor: pointer;
}